body {
    font-family: Arial, sans-serif;
    padding: 1em;
    background-color: honeydew;
}

#hamburger-icon {
    display: none;
}

#navbar {
    display: flex;
    justify-content: space-around;
}

.grid-item {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.image-text {
    text-align: center;
}
.grid-image img {
    margin-top: 2em;
    width: 100%;
    height: auto;
}
.grid-points ul li {
    margin-bottom: 1.5em; /* adjust as needed */
}
h1 {
    text-align: center;
    margin: 1em;
}

#menu-toggle {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

header {
    margin-bottom: 3em; 
}

.text-box {
    background-color: #f1f1f1; /* adjust as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.text-box h2 {
    margin-top: 20px;
}

.text-box p {
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.grid-item p {
    text-align: center;
}