body {
    font-family: Arial, sans-serif;
    padding: 1em;
    background-color: honeydew;
}

#hamburger-icon {
    display: none;
}

#navbar {
    display: flex;
    justify-content: space-around;
}

.grid-item {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 1.25em;
}

.image-text {
    text-align: center;
}
.grid-image img {
    margin-top: 2em;
    width: 100%;
    height: auto;
}
.grid-points ul li {
    margin-bottom: 1.5em; /* adjust as needed */
}
h1 {
    text-align: center;
    margin: 1em;
}

#menu-toggle {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 0.0625em;
    width: 0.0625em;
    border: 0;
    overflow: hidden;
}

header {
    margin-bottom: 3em; 
}

.text-box {
    background-color: #f1f1f1; /* adjust as needed */
    padding: 1.25em;
    border: 0.016em solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.15);
}

.text-box h2 {
    margin-top: 1.25em;
}

.text-box p {
    margin-bottom: 1.25em;
    padding: 0.5em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25em;
}

.grid-item img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.grid-item {
    border: 0.5em solid 
    padding: 2em;
    background-color:  	#dbe9f4;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    border-color: f5fff5;
}



.grid-item p {
    text-align: justify;
}

form {
    max-width: 37.5em;
    margin: 0 auto;
    padding: 1.25em;
    border: 0.016em solid #ccc;
    border-radius: 0.25em;
    background-color: #f8f8f8;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 0.75em 1.25em;
    margin: 0.5em 0;
    display: inline-block;
    border: 0.016em solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 1em 1.25em;
    margin: 0.5em 0;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;

}

input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    color: #000;
    text-align: left;
    padding: 0.5em 1em;
}
#navbar a {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    color: black;
    text-decoration: none;
}

#navbar a:hover {
    color: red;
    background-color: #000;
}
